





[defaults]
roles_path = /home/user1/shimon-vault/ansible/roles
inventory              = inventory.aws_ec2.yml
remote_user            = ec2-user
private_key_file       = ~/.ssh/id_ed25519_shimonvault
host_key_checking      = False
stdout_callback        = ansible.builtin.default
timeout                = 30
gathering              = smart
fact_caching           = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout   = 3600


retry_files_enabled    = False

[ssh_connection]


ssh_args = -o StrictHostKeyChecking=no -o ProxyJump=ec2-user@43.203.207.21 -i ~/.ssh/id_ed25519_shimonvault


pipelining             = True
control_path_dir       = /tmp/ansible-ssh
deprecation_warnings = False
